<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica Odontologica</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container mt-3">
    <h1 class="text-center">Clinica Odontologica</h1>
    <h2>Registrar Usuario</h2>

        <div class="row">
            <div class="col-md-6">
                <label for="nombreInput" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombreInput" placeholder="Ingrese el nombre">
            </div>

            <div class="col-md-6">
                <label for="apellidoInput" class="form-label">Apellido:</label>
                <input type="text" class="form-control" id="apellidoInput" placeholder="Ingrese el apellido">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="dniInput" class="form-label">DNI:</label>
                <input type="number" class="form-control" id="dniInput" placeholder="Ingrese el DNI">
            </div>

            <div class="col-md-6">
                <label for="fechaIngresoInput" class="form-label">Fecha de Ingreso:</label>
                <input type="date" class="form-control" id="fechaIngresoInput">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="calleInput" class="form-label">Calle:</label>
                <input type="text" class="form-control" id="calleInput" placeholder="Ingrese la calle">
            </div>

            <div class="col-md-6">
                <label for="numeroInput" class="form-label">Número:</label>
                <input type="number" class="form-control" id="numeroInput" placeholder="Ingrese el número">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="localidadInput" class="form-label">Localidad:</label>
                <input type="text" class="form-control" id="localidadInput" placeholder="Ingrese la localidad">
            </div>

            <div class="col-md-6">
                <label for="provinciaInput" class="form-label">Provincia:</label>
                <input type="text" class="form-control" id="provinciaInput" placeholder="Ingrese la provincia">
            </div>
        </div>

        <div class="mt-3">
            <button onclick="registrarUsuario()" class="btn btn-primary">Registrar Usuario</button>
        </div>

    <div id="userData2"></div>

    <br>

    <h2>Lista de pacientes</h2>
    <div id="userData3"></div>

    <br>

    <div id="userData" class="card bg-primary text-white mb-5">
        <div class="card-body">
            <h5 class="card-title">Buscar por id</h5>
            <div class="mb-3">
                <label for="userIdInput" class="form-label text-white">ID de usuario:</label>
                <input type="text" class="form-control" id="userIdInput" placeholder="Ingrese el ID del usuario">
            </div>
            <button onclick="realizarAxiosRequest()" class="btn btn-light">Buscar Usuario</button>
        </div>
    </div>

</div>
<script>
function realizarAxiosRequest() {
    // Obtener el valor del input
    var userId = document.getElementById('userIdInput').value;

    // Verificar si se ingresó un ID válido
    if (!userId) {
        alert('Ingrese un ID de usuario válido.');
        return;
    }

    // URL a la que realizar la solicitud Axios con el ID proporcionado
    var url = 'http://localhost:8080/pacientes/' + userId;

    // Realizar la solicitud Axios
    axios.get(url)
        .then(response => {
            // Manejar los datos obtenidos
            mostrarDatosUsuario(response.data);
        })
        .catch(error => {
            // Manejar los errores
            console.error('Error en la solicitud Axios:', error);
        });
}

function mostrarDatosUsuario(userData) {
    // Construir el HTML con los datos del usuario
    var html = '<h5 class="card-title">Datos del Usuario</h5>';
    html += '<p class="card-text"><strong>ID:</strong> ' + userData.id + '</p>';
    html += '<p class="card-text"><strong>Nombre:</strong> ' + userData.nombre + '</p>';
    html += '<p class="card-text"><strong>DNI:</strong> ' + userData.dni + '</p>';
    html += '<p class="card-text"><strong>Fecha de Ingreso:</strong> ' + userData.fechaIngreso + '</p>';
    // Agrega más campos según la estructura de tus datos

    // Mostrar el HTML en el elemento con id "userData"
    document.getElementById('userData').innerHTML = html;
}


         function registrarUsuario() {
            // Obtener los valores de los inputs
            var nombre = document.getElementById('nombreInput').value;
            var apellido = document.getElementById('apellidoInput').value;
            var dni = document.getElementById('dniInput').value;
            var fechaIngreso = document.getElementById('fechaIngresoInput').value;
            var calle = document.getElementById('calleInput').value;
            var numero = document.getElementById('numeroInput').value;
            var localidad = document.getElementById('localidadInput').value;
            var provincia = document.getElementById('provinciaInput').value;

            // Verificar si se ingresaron datos válidos
            if (!nombre || !apellido || !dni || !fechaIngreso || !calle || !numero || !localidad || !provincia) {
                alert('Ingrese todos los datos del usuario.');
                return;
            }

            // Construir el objeto JSON con los datos del usuario
            var userData2 = {
                nombre: nombre,
                apellido: apellido,
                dni: dni,
                fechaIngreso: fechaIngreso,
                domicilioEntradaDto: {
                    calle: calle,
                    numero: numero,
                    localidad: localidad,
                    provincia: provincia
                }
            };

            // URL para realizar la solicitud Axios (POST para registrar usuario)
            var url = 'http://localhost:8080/pacientes/registrar';

            // Realizar la solicitud Axios POST
            axios.post(url, userData2)
                .then(response => {
                    // Manejar los datos obtenidos, por ejemplo, mostrar el ID del usuario registrado
                    console.log('Usuario registrado con ID:', response.data.id);
                })
                .catch(error => {
                    // Manejar los errores
                    console.error('Error en la solicitud Axios:', error);
                });
        }

document.addEventListener('DOMContentLoaded', function() {
    obtenerTodosLosPacientes();
});

function obtenerTodosLosPacientes() {
    // URL para realizar la solicitud Axios GET de todos los pacientes
    var url = 'http://localhost:8080/pacientes/listar';

    // Realizar la solicitud Axios GET
    axios.get(url)
        .then(response => {
            // Manejar los datos obtenidos
            mostrarTodosLosPacientes(response.data);
        })
        .catch(error => {
            // Manejar los errores
            console.error('Error en la solicitud Axios:', error);
        });
}

function mostrarTodosLosPacientes(pacientes) {
    // Construir el HTML con la lista de todos los pacientes
    var html = '<h3 class="text-center text-white">Lista de Todos los Pacientes</h3>';
    html += '<div class="row" style="margin-top:-25px;">';

    // Iterar sobre la lista de pacientes y agregar cada uno a la lista HTML
    pacientes.forEach(paciente => {
        html += '<div class="col-md-3 mb-3">';
        html += '<div class="card">';
        html += '<div class="card-body">';
        html += '<p class="card-text">Nombre: ' + paciente.nombre + '</p>';
        html += '<p class="card-text">Apellido: ' + paciente.apellido + '</p>';
        html += '</div>';
        html += '</div>';
        html += '</div>';
    });

    html += '</div>';

    document.getElementById('userData3').innerHTML = html;
}


    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
